.adminUser-main {
  background-color: #f5f5f5;
}

.btn-addUser {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
}
.title-adminUser .title-admin {
  font-size: 30px;
}
.table-AddminUser {
  margin: 10px;
}
